body {
    font-family: arial;
    font-size: 11px;
}
table {
    margin-bottom: 10px;
    border-collapse: collapse;
    empty-cells: show
}
td,th {
    border: 1px solid gray;
    padding: .25em .5em;
}
th {
    color: black;
    background-color: #9DB3C3;
}
.icon_success {
    height: 16px;
    width: 16px;
    background-position: center;
    background-repeat: no-repeat;
}
.icon_failure {
    height: 16px;
    width: 16px;
    background-position: center;
    background-repeat: no-repeat;
}
.icon_pre_oper_failure {
    height: 16px;
    width: 16px;
    background-position: center;
    background-repeat: no-repeat;
}
.icon_post_oper_failure {
    height: 16px;
    width: 16px;
    background-position: center;
    background-repeat: no-repeat;
}
.icon_post_oper_task_completed {
    height: 16px;
    width: 16px;
    background-position: center;
    background-repeat: no-repeat;
}
.icon_warning {
    height: 16px;
    width: 16px;
    background-position: center;
    background-repeat: no-repeat;
}
.icon_info {
    height: 16px;
    width: 16px;
    background-position: center;
    background-repeat: no-repeat;
}
.icon_conditional_true {
    height: 16px;
    width: 16px;
    background-position: center;
    background-repeat: no-repeat;
}
.icon_conditional_false {
    height: 16px;
    width: 16px;
    background-position: center;
    background-repeat: no-repeat;
}
.icon_ignored {
    height: 16px;
    width: 16px;
    background-position: center;
    background-repeat: no-repeat;
}
.result th {
    vertical-align:bottom
}
.param th {
    padding-left: 1em;
    padding-right: 1em
}
.param td {
    padding-left: .5em;
    padding-right: 2em
}
.stripe td,.stripe th {
    background-color: #fcaeb4
}
.left {
    text-align: left
}
.center {
    text-align: center
}
.right {
    text-align: right
}
.test-case-heading {
    color: white !important;
    background-color: #468 !important;
    font-weight: bold !important;
}
.total td {
    font-weight: bold
}
.comment {
    background-color: #fbfcc2 !important;
    font-weight: bold !important;
}
.group-even {
    color: white !important;
    background-color: #468 !important;
    text-align: center;
}
.group-odd {
    color: white !important;
    background-color: #468 !important;
    text-align: center;
}
.failure {
    background-color: #fc838d;
}
.pre_oper_failure {
    background-color: #ff9900;
}
.post_oper_failure {
    background-color: #ff9900;
}
.post_oper_task_completed {
    background-color: #ff9900;
}
.warning {
    background-color: #ff9900;
}
.info {
    background-color: #fbfcc2;
}
.conditional_true {
    background-color: #ffd9b3;
}
.conditional_false {
    background-color: #ffd9b3;
}
.ignored {
    color: gray;
}
.stacktrace {
    white-space: pre;
    font-family:monospace;
}
.totop {
    font-size: 85%;
    text-align: center;
    border-bottom: 2px solid #000;
}
.tooltip {
    position: relative;
    display: inline-block;
    color: blue;
}
.spannedHeading {
    color: white;
    background-color: #468;
}
.separatorRow {
    background-color: lightgray;
}
.cond_oper {
    background-color: #468;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 450px;
    background-color: #666;
    color: #fff;
    text-align: left;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0.5s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.summary-row {
    text-align: left;
    padding-right: 2em
}
.nowrap {
    white-space: nowrap;
}
